* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #282c34;
  color: white;
}

/* Footer design by Chris */

.foot-Container {
  /* This container can be reused whereever needed */
  /* Margin top can be took away only putting there for now to place it correctly */
  margin-top: 53rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1.5rem 0rem;
}

.mx-2 {
  margin-right: calc(1rem);
  margin-left: calc(1rem);
}

.px-1 {
  padding-right: calc(1rem * 0.5);
  padding-left: calc(1rem * 0.5);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

h2 {
  font-size: 2rem;
}

.app-name {
  font-size: 3rem;
}

.header-container {
  display: flex;
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1.5rem 0rem;
  flex-wrap: wrap;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
  margin-left: 6rem;
  margin-right: auto;
}

.p-header {
  margin: 1rem;
  display: inline-flex;
  font-size: 1.3rem;
}

.p-header:hover {
  cursor: pointer;
  opacity: 0.5;
}

.a-header {
  margin: 1rem;
  display: inline-flex;
  font-size: 1.3rem;
}

.a-header:hover {
  cursor: pointer;
  opacity: 0.5;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.copyright {
  margin-left: 4rem;
}

.footer-contact {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin-right: 4rem;
}

/* Footer design ends */
