.ui.modal {
  background-color: #7eb8e7;
}

.content {
  color: #242423;
}

.ui.header {
  background-color: #1b2a41;
  color: white; 
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
.ui.p {
  font-size: 1rem;
}

input.form-control {
  font-size: 1rem;
  /* padding: 1rem 1rem 1rem 1rem; */
  margin: 0.5rem;
}

textarea {
  font-size: 1rem;
  margin-left: 0.5rem;
}

label {
  font-weight: bold;
  padding: 0.3rem;
}
